.strat-check-a04g5ewen4tggb9{
  display: block;
  width: 1124px;
  height: 780px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #A4A4A4;
}

.strat-check-a04g5ewen4tggb9 .lc, 
.strat-check-a04g5ewen4tggb9 .rc{
  float:left;
  text-align: center;
  padding: 0px;
}

.strat-check-a04g5ewen4tggb9 .lc{
  width:590px;
}

.strat-check-a04g5ewen4tggb9 .lc .cdt{
  margin-top: 25px;
  display: block;
  font-size: 10px;
  line-height: 10px;
}

.strat-check-a04g5ewen4tggb9 .cg{
  margin-top: 90px;
}

.strat-check-a04g5ewen4tggb9 .rm{
  width: 530px;
}

.strat-check-a04g5ewen4tggb9 .row:after{
  clear: both;
  content: " ";
  display: table
}

.strat-check-a04g5ewen4tggb9 .clearfix{
  clear: both;
}

.strat-check-a04g5ewen4tggb9 h2, 
.strat-check-a04g5ewen4tggb9 caption{
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  margin: 0;
}

.strat-check-a04g5ewen4tggb9  .switch {
  margin: 30px 0;
}
.strat-check-a04g5ewen4tggb9 .switch .l, 
.strat-check-a04g5ewen4tggb9 .switch .r{
  text-transform: uppercase;
  font-size: 12px;
}

.strat-check-a04g5ewen4tggb9 .switch .on{
  color: #64b2e4;
}

.strat-check-a04g5ewen4tggb9 .switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  position: relative;
  vertical-align: middle;
  width: 25px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  -webkit-background-clip: content-box;
  background-clip: content-box;
  
  margin: 0 10px;
}

.strat-check-a04g5ewen4tggb9 .switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 14px;
  position: absolute;
  top: 0;
  width: 14px;
}
.strat-check-a04g5ewen4tggb9 .year-title{
  display: block;
  margin: 10px 0 25px 0;
  font-size: 10px;
}

.strat-check-a04g5ewen4tggb9 .row.last{
  margin-top: 60px;
}

.strat-check-a04g5ewen4tggb9 small{
  text-transform: uppercase;
}

.strat-check-a04g5ewen4tggb9 svg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #fff;
  color: #333;
}

.strat-check-a04g5ewen4tggb9 .acw text{
  fill: #787878;
}

.strat-check-a04g5ewen4tggb9 .x.axis .tick text{
  cursor: pointer;
  fill: #64b1e0;
}

.strat-check-a04g5ewen4tggb9 path.slice{
  stroke-width:2px;
}

.strat-check-a04g5ewen4tggb9 polyline{
  opacity: .3;
  stroke: #999999;
  stroke-width: 2px;
  fill: none;
}

.strat-check-a04g5ewen4tggb9 .x.brush{
  opacity: 0;
}
 
.strat-check-a04g5ewen4tggb9 .axis path,
.strat-check-a04g5ewen4tggb9 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.strat-check-a04g5ewen4tggb9 .x.axis path {
  display: none;
}

.strat-check-a04g5ewen4tggb9 .line {
  fill: none;
  stroke: #467990;
  stroke-width: 1.5px;
}

.strat-check-a04g5ewen4tggb9 .arc path {
  stroke: #fff;
}

.strat-check-a04g5ewen4tggb9 circle {
  stroke-opacity: .2;
}

.strat-check-a04g5ewen4tggb9 .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.strat-check-a04g5ewen4tggb9 .brush .resize {
  fill: url("/images/arrowUp.jpg");
}

.strat-check-a04g5ewen4tggb9 g.tick line,
.strat-check-a04g5ewen4tggb9 g.custom_tick line {
  stroke: #ccc;
}

.strat-check-a04g5ewen4tggb9 path.line {
  opacity: .8;
}

.strat-check-a04g5ewen4tggb9 path.line:hover {
  opacity: 1.0;
}

.strat-check-a04g5ewen4tggb9 path.line.active {
  opacity: 1.0;
}

.strat-check-a04g5ewen4tggb9 .brush .background {
  fill: black;
  opacity: .1;
  visibility: visible;
}

.strat-check-a04g5ewen4tggb9 .brush .extent {
  fill: white;
  opacity: 1;
  fill-opacity: 1;
}

.strat-check-a04g5ewen4tggb9 .bold.tick line {
  stroke-dasharray: 5,5;
}

.strat-check-a04g5ewen4tggb9 .border-rect {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}

.strat-check-a04g5ewen4tggb9 .line.Moderate-Aggressive {
  stroke: #2c363a;
}

.strat-check-a04g5ewen4tggb9 .line.Conservative {
  stroke: #2ab4c0;
}

.strat-check-a04g5ewen4tggb9 .line.Income {
  stroke: #dec458;
}

.strat-check-a04g5ewen4tggb9 .line.best-fitting-bmark {
  stroke: #B8AE51;
}

.strat-check-a04g5ewen4tggb9 .line.Aggressive {
  stroke: #157991;
}

.strat-check-a04g5ewen4tggb9 .line.Moderate {
  stroke: #d64434;
}

.strat-check-a04g5ewen4tggb9 .line.global-dynamic-strategy {
  stroke: #A5A581;
}

.strat-check-a04g5ewen4tggb9 .Moderate-Aggressive {
  color: #2c363a;
  border-color: #2c363a;
}

.strat-check-a04g5ewen4tggb9 .Conservative {
  color: #2ab4c0;
  border-color: #2ab4c0;
}

.strat-check-a04g5ewen4tggb9 .Income {
  color: #dec458;
  border-color: #dec458;
  border-width: inherit;
}

.strat-check-a04g5ewen4tggb9 .best-fitting-bmark {
  color: #B8AE51;
  border-color: #B8AE51;
  border-width: inherit;
}

.strat-check-a04g5ewen4tggb9 .Aggressive {
  color: #157991;
  border-color: #157991;
  border-width: inherit;
}

.strat-check-a04g5ewen4tggb9 .Moderate {
  color: #d64434;
  border-color: #d64434;
  border-width: inherit;
}

.strat-check-a04g5ewen4tggb9 .global-dynamic-strategy {
  color: #A5A581;
  border-color: #A5A581;
  border-width: inherit;
}

.strat-check-a04g5ewen4tggb9 .tick,
.strat-check-a04g5ewen4tggb9 .custom_tick {
  fill: #999;
}

.strat-check-a04g5ewen4tggb9 .outer-arc circle{
  fill: none;
  stroke: #999999;
  stroke-width: 10px;
}

.strat-check-a04g5ewen4tggb9 table{
  margin: 0 auto;
  border-collapse: collapse;
}

.strat-check-a04g5ewen4tggb9 table th, 
.strat-check-a04g5ewen4tggb9 table td{
  width: 80px;
  height: 45px;
  font-size:12px;
  color:#333333;
  font-weight: normal;
}

.strat-check-a04g5ewen4tggb9 table thead th{
  color: #979797;
}

.strat-check-a04g5ewen4tggb9 table td{
  color: #363636;
  background-color: #e5e5e5;
  border: 1px solid #fff;
}

.strat-check-a04g5ewen4tggb9 table td.red{
  color: #a42529;
  border: 1px solid #952428;
  background-color: #f8f2f2;
}

.strat-check-a04g5ewen4tggb9 table td.green{
  color: #3d663a;
  border:1px solid #7bb651;
  background-color: #f3faf1;
}